<h1>Pages#angulartest</h1>
<p>Find me in app/views/pages/angulartest.html.erb</p>

<div ng-app="app">
  <div ng-controller="exampleCtrl">
    <ul>
      <li ng-repeat="message in messages" ng-click="alertMe(message)">
        {{ message }}
      </li>
      <input ng-model="message">
      <button ng-click="addMessage(message)">Add Message</button>
    </ul>
  </div>
</div>
